@media all and (max-width: 768px){
	.main-menu ul{
		text-align: center;
		margin-top: 20px;
	}
	.testimonial-box{
		text-align: center !important;
	}
	.contact-area input[type="submit"]{
		max-width: 60% !important;;	
	}
}

@media all and (max-width: 550px){
	.main-menu ul li{
		display: block;
		width: 100px;
		margin: 5px auto !important;
	}
	.header-top .current,
	.header-top .main-menu ul li:hover a{
		background: transparent !important;
	}
	.contact-area input[type="submit"]{
		max-width: 50% !important;;	
	}
	
}

@media all and (max-width: 400px){
	.ftr-social ul li{
		display: block;
	}
}